<!DOCTYPE html>
<html>
  <head>
    <title>ccf HK Portal</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    
    <%= render 'layouts/header' %>

    <div class="container">
      <%= yield %>
    </div>
  <%= javascript_include_tag 'clock' %>
  </body>
</html>
